<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ecat_ros2_control" params="name ra_type tf_prefix">

    <xacro:property name="joint_1_config" value="$(find hiwin_driver)/config/${ra_type}/joint_1_config.yaml" />
    <xacro:property name="joint_2_config" value="$(find hiwin_driver)/config/${ra_type}/joint_2_config.yaml" />
    <xacro:property name="joint_3_config" value="$(find hiwin_driver)/config/${ra_type}/joint_3_config.yaml" />
    <xacro:property name="joint_4_config" value="$(find hiwin_driver)/config/${ra_type}/joint_4_config.yaml" />
    <xacro:property name="joint_5_config" value="$(find hiwin_driver)/config/${ra_type}/joint_5_config.yaml" />
    <xacro:property name="joint_6_config" value="$(find hiwin_driver)/config/${ra_type}/joint_6_config.yaml" />

    <ros2_control name="ecat" type="system">
      <hardware>
        <plugin>ethercat_driver/EthercatDriver</plugin>
        <param name="master_id">0</param>
        <param name="control_frequency">500</param>
      </hardware>
      <joint name="${tf_prefix}joint_1">
        <command_interface name="position" />
        <command_interface name="reset_fault"/>
        <state_interface name="position" />
        <state_interface name="velocity" />
        <ec_module name="RS3">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">${joint_1_config}</param>
        </ec_module>
      </joint>
      <joint name="${tf_prefix}joint_2">
        <command_interface name="position" />
        <command_interface name="reset_fault"/>
        <state_interface name="position" />
        <state_interface name="velocity" />
        <ec_module name="RS3">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">1</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">${joint_2_config}</param>
        </ec_module>
      </joint>
      <joint name="${tf_prefix}joint_3">
        <command_interface name="position" />
        <command_interface name="reset_fault"/>
        <state_interface name="position" />
        <state_interface name="velocity" />
        <ec_module name="RS3">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">2</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">${joint_3_config}</param>
        </ec_module>
      </joint>
      <joint name="${tf_prefix}joint_4">
        <command_interface name="position" />
        <command_interface name="reset_fault"/>
        <state_interface name="position" />
        <state_interface name="velocity" />
        <ec_module name="RS3">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">3</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">${joint_4_config}</param>
        </ec_module>
      </joint>
      <joint name="${tf_prefix}joint_5">
        <command_interface name="position" />
        <command_interface name="reset_fault"/>
        <state_interface name="position" />
        <state_interface name="velocity" />
        <ec_module name="RS3">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">4</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">${joint_5_config}</param>
        </ec_module>
      </joint>
      <joint name="${tf_prefix}joint_6">
        <command_interface name="position" />
        <command_interface name="reset_fault"/>
        <state_interface name="position" />
        <state_interface name="velocity" />
        <ec_module name="RS3">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">5</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">${joint_6_config}</param>
        </ec_module>
      </joint>
    </ros2_control>

    <ros2_control name="GPIO" type="system">
      <hardware>
        <plugin>hiwin_driver/HIWINGPIOHardwareInterface</plugin>
      </hardware>
      <gpio name="system">
        <command_interface name="watchdog" />
        <command_interface name="reset_safety_rly" />
        <command_interface name="reset_driver" />
        <state_interface name="breaker" />
        <state_interface name="e_stop" />
        <state_interface name="e_stop2" />
        <state_interface name="fan_error" />
        <state_interface name="capacitor_error" />
        <state_interface name="clear_error_notify" />
        <state_interface name="shutdown_notify" />
      </gpio>
      <gpio name="digital">
        <command_interface name="DO1_1" />
        <command_interface name="DO1_2" />
        <command_interface name="DO1_3" />
        <command_interface name="DO1_4" />
        <command_interface name="DO1_5" />
        <command_interface name="DO1_6" />
        <command_interface name="DO1_7" />
        <command_interface name="DO1_8" />
        <command_interface name="DO2_1" />
        <command_interface name="DO2_2" />
        <command_interface name="DO2_3" />
        <command_interface name="DO2_4" />
        <command_interface name="DO2_5" />
        <command_interface name="DO2_6" />
        <command_interface name="DO2_7" />
        <command_interface name="DO2_8" />
        <state_interface name="DI1_1" />
        <state_interface name="DI1_2" />
        <state_interface name="DI1_3" />
        <state_interface name="DI1_4" />
        <state_interface name="DI1_5" />
        <state_interface name="DI1_6" />
        <state_interface name="DI1_7" />
        <state_interface name="DI1_8" />
        <state_interface name="DI2_1" />
        <state_interface name="DI2_2" />
        <state_interface name="DI2_3" />
        <state_interface name="DI2_4" />
        <state_interface name="DI2_5" />
        <state_interface name="DI2_6" />
        <state_interface name="DI2_7" />
        <state_interface name="DI2_8" />
      </gpio>
    </ros2_control>

  </xacro:macro>
</robot>
